
#scrollable-video-thumbs{
	position:relative;
	overflow:hidden;
	width: 245px;
	height:150px;
	float: left;
}

#scrollable-video-thumbs .video-items{
	width:20000em;
	position:absolute;
}

#scrollable-video-thumbs .video-items div{
	float:left;
	width: 68px;
	height: 49px; 
	margin-right: 12px;
	padding:3px;
}

#scrollable-video-thumbs .video-items div img{
	width: 68px;
	height: 49px;
}

#main-video{
	width: 280px;
	height: 200px;
	clear: both;
}

#main-video.empty{
	background: #000;
	color: #fff;
	text-align: center;
	font-size: 16px;
	height: 120px;
	padding-top: 80px;
	width:230px;
	padding-left: 25px;
	padding-right: 25px;
}

.scrollable-video-content a{
	float: left;
}

.scrollable-video-content{
	clear: both;
	margin-top: -20px;
	font-size: 10px;
	font-family: Helvetica;
	color: #666;
}

a.prev{
	margin-right: 5px;
	display:block;
	width: 14px;
	height: 14px;
	background: url(images/video/prev.png);
	margin-top: 25px;
	cursor: pointer;
}

a.next{
	margin-left: 5px;
	display:block;
	width: 14px;
	height: 14px;
	background: url(images/video/next.png);
	margin-top: 25px;
	cursor: pointer;
}

#yt-carrousel-block{
	background: url(images/video/bg.png) no-repeat;
	width: 292px;
	clear: both;
	height: 432px;
	padding-top: 1px;
	padding-left: 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
}

#yt-carrousel-block h3{
	font-family: Verdana, Tahoma, 'DejaVu Sans', sans-serif;
	font-size: 20px;
	color: #ADB0A6;
	line-height: 1em;
	margin-bottom: 14px;
    margin-top:10px;
}

#yt-carrousel-block .scrollable-video-content span{
	background: url(images/video/bullet.png) no-repeat;
	padding-left: 7px;
	margin-top: 5px;
	display: block;
    line-height:12px;
}

#yt-carrousel-block .spacer{
	background: url(images/video/grad.png) no-repeat;
	width: 304px;
	margin-left: -9px;
	height: 29px;
	margin-top:34px;
}

#scrollable-video-thumbs .video-items div.video-thumb.active{
	background: #FED721;
	width: 68px;
	height: 49px;
}


#scrollable-video-thumbs .video-items div.video-thumb:hover{
	background: #666;
	cursor: pointer;
	text-decoration: underline;
}

#scrollable-video-thumbs .hover{
	background: #000 url(images/video/play.png) no-repeat center center;
	width: 68px;
	height: 49px;
	position: absolute;
	opacity: 0.6;
	top:0px;
	z-index: 5;
	margin-left: -3px;
	display: none;
}


